/* I don't know CSS*/
@font-face {
    font-family:'Ubuntu';
    /*src: url('res/Ubuntu-R.ttf');*/
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
}

body {
  background-color:black;
  background-image: url("res/bg_tile.jpg");
  background-repeat: repeat;
  text-align: center;
  font-family: Ubuntu;
  color: floralwhite; // Not sure if floralwhite or mintcream
}

table {
  margin-bottom: 15px;
  display:inline-block;
  vertical-align:top;
  border-collapse: collapse;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td, tr:not(.header):not(.year):not(.aux):not(.frontPage) {
  color: black;
  font-size: 0.9em;

}

tr:nth-child(even):not(.header):not(.aux):not(.frontPage) {
  background-color: floralwhite;
}

tr:nth-child(odd):not(.year):not(.aux):not(.frontPage):not(.header) {
  background-color: #fff1d8;
  //background-color: #fff5e0;
}

h2 {
  margin-bottom: 5px;
}

a, a:visited {
  color: floralwhite;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  font-style: italic;
}

.index {
  padding-bottom: 15px;
}

.year {
  font-size: 1.5em;
}

.frontPage {
  font-size: 2em;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.update {
  font-size: 0.6em;
  opacity: 0.1;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}

.online tr td:nth-child(2) {
    border-right: 4px solid black;
}
.online2020 tr:not(.header):not(.year) th:nth-child(1) {
    border-right: 4px solid black;
}
